body{
    background-color: rgb(255, 183, 90);
}
or-bar{
    display: inline-flexbox;
    margin-top: -20px;
    padding: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255)
}
button{
    background-color: #00aaff;
}
button:hover{
    background-color: #60caff;
}
button:active{
    background-color: #005783;
}
or-bar button{
    color: #00aaff;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    height: 0;
}
or-bar button:hover{
    background-color: rgb(150, 255, 204);
}
*{
    color: #55f1ff;
}
.fksj{
    margin-inline-start: 2em;
}
te-ct{
    display: block;
}
te-ct :nth-child(2){
    margin-inline-start: 2em;
}
card-pretty{
    display: block;
    width: 300px;
    margin: 0 auto;
    color: #333;
    line-height: 1.8;
    border-radius: 23px;
    background: repeating-linear-gradient(
        -45deg,
        #ff4d20 0px 10px,
        #fff 10px 20px,
        #00a6ff 20px 30px,
        #fff 30px 40px
    ) -23px -23px/200% 200%;
    padding: 10px;
    transition: 0.23s;
}
card-pretty:hover{
    background-position: 0 0;
}
card-pretty content-pretty{
    display: block;
    background: #fff;
    border-radius: 23px;
    text-align: center;
    background: linear-gradient(
        -45deg,
        #ff2020,
        #006eff
    );
}
img.logo{
    width: 30px;
    height: 15px;
}
s-c{
    display: inline-flex;
}
s-c *{
    display: inline-flexbox;
}
s-v{
    display: block;
}
card-card {
  display: block;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  margin-inline-start: 10px;
  margin-block-start: 10px;
  line-height: 1rem;
  width: 50%;
}

@ballSize: 10px;
@ContainerSize: 150px;
@n: 36;
@pdeg: 360deg / @n;
@duration: 2s;


.loading1{
    width: @ContainerSize;
    height: @ContainerSize;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    // outline: 1px solid #fff;
    .dot1{
        position: absolute;
        left: 50%;
        top: 50%;
        width: @ballSize;
        height: @ballSize;
        margin-left: calc(-@ballSize / 2) !important;
        margin-top: calc(-@ballSize / 2) !important;
        perspective: 70px;
        transform-style: preserve-3d;
        // background: red;
        &::before, &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &::before{
            background: #000;
            top: -100%;
            animation: move-black @duration infinite;
            @keyframes move-black {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, 100%, @ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, 200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, 100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
        &::after{
            background: #fff;
            bottom: -100%;
            animation: move-white @duration infinite;
            @keyframes move-white {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, -100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, -200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, -100%, @ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
    }
}

.loading2{
    width: @ContainerSize;
    height: @ContainerSize;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    // outline: 1px solid #fff;
    .dot2{
        position: absolute;
        left: 50%;
        top: 50%;
        width: @ballSize;
        height: @ballSize;
        margin-left: calc(-@ballSize / 2) !important;
        margin-top: calc(-@ballSize / 2) !important;
        perspective: 70px;
        transform-style: preserve-3d;
        // background: red;
        &::before, &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &::before{
            background: #000;
            top: -100%;
            animation: move-black @duration infinite;
            @keyframes move-black {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, 100%, @ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, 200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, 100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
        &::after{
            background: #fff;
            bottom: -100%;
            animation: move-white @duration infinite;
            @keyframes move-white {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, -100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, -200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, -100%, @ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
    }
}

.loading3{
    width: @ContainerSize;
    height: @ContainerSize;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    // outline: 1px solid #fff;
    .dot3{
        position: absolute;
        left: 50%;
        top: 50%;
        width: @ballSize;
        height: @ballSize;
        margin-left: calc(-@ballSize / 2) !important;
        margin-top: calc(-@ballSize / 2) !important;
        perspective: 70px;
        transform-style: preserve-3d;
        // background: red;
        &::before, &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &::before{
            background: #000;
            top: -100%;
            animation: move-black @duration infinite;
            @keyframes move-black {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, 100%, @ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, 200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, 100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
        &::after{
            background: #fff;
            bottom: -100%;
            animation: move-white @duration infinite;
            @keyframes move-white {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, -100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, -200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, -100%, @ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
    }
}

.loading4{
    width: @ContainerSize;
    height: @ContainerSize;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    // outline: 1px solid #fff;
    .dot4{
        position: absolute;
        left: 50%;
        top: 50%;
        width: @ballSize;
        height: @ballSize;
        margin-left: calc(-@ballSize / 2) !important;
        margin-top: calc(-@ballSize / 2) !important;
        perspective: 70px;
        transform-style: preserve-3d;
        // background: red;
        &::before, &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        &::before{
            background: #000;
            top: -100%;
            animation: move-black @duration infinite;
            @keyframes move-black {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, 100%, @ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, 200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, 100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
        &::after{
            background: #fff;
            bottom: -100%;
            animation: move-white @duration infinite;
            @keyframes move-white {
                0%{
                    animation-timing-function: ease-in;
                }
                25%{
                    transform: translate3d(0, -100%, -@ballSize);
                    animation-timing-function: ease-out;
                }
                50%{
                    transform: translate3d(0, -200%, 0);
                    animation-timing-function: ease-in;
                }
                75%{
                    transform: translate3d(0, -100%, @ballSize);
                    animation-timing-function: ease-out;
                }
            }
        }
    }
}

.loop(@i) when (@i <= @n) {
    .dot1:nth-child(@{i}){
        transform: rotate(calc(@pdeg * @i)) translateY(calc(-@ContainerSize/2)) !important;
        &::before, &::after{
            animation-delay: calc(-@duration / @n * (@i - 1) * 3);
        }
    }
    
    .dot2:nth-child(@{i}){
        transform: rotate(calc(@pdeg * @i)) translateY(calc(-@ContainerSize/2)) !important;
        &::before, &::after{
            animation-delay: calc(-@duration / @n * (@i - 1));
        }
    }
    
    .dot3:nth-child(@{i}){
        transform: rotate(calc(@pdeg * @i)) translateY(calc(-@ContainerSize/2)) !important;
        &::before, &::after{
            animation-delay: calc(-@duration / @n * (@i - 1) * 5);
        }
    }
    .dot4:nth-child(@{i}){
        transform: rotate(calc(@pdeg * @i)) translateY(calc(-@ContainerSize/2)) !important;
        &::before, &::after{
            animation-delay: calc(-@duration / @n * (@i - 1) * 4);
        }
    }

    .loop(@i + 1);
}

.loop(1);
